@using UKHO.MaritimeSafetyInformation.Common.Configuration

<!--Phase Banner-->
<div class="phase-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <P>
                    @*<span class="alpha-caption">Beta</span>*@
                    @Html.Raw(Global.Name)
                </P>
            </div>
        </div>
    </div>
</div>
