<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UKHO.MaritimeSafetyInformation.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UKHO.MaritimeSafetyInformation.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nm_style.min.css" asp-append-version="true" />
</head>
<body>
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
                        <li class="nav-item">
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
            @RenderBody()
        </main>
    <footer class="site-footer">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-auto mt-3 mb-3">
                        <a class="footer-img" href="https://www.gov.uk/ukh">
                            <img src="~/images/UKHO-stacked-logo.svg" alt="UK Hydrographic Office Logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-12 col-lg-auto col-md-8 text-lg-end text-start mt-lg-3 mb-3 mt-0">
                        <div class="footer-links row row-cols-lg-auto row-cols-sm-2 row-cols-1 justify-content-lg-end  justify-content-start">
                            <a class="col" href="https://www.admiralty.co.uk/cookie-policy" target="_blank" tabindex="0" id="privacypolicylink" aria-label="Privacy policy opens in new tab">Privacy and cookies</a>
                            <a class="col" href="#" target="_blank" tabindex="0" id="accessibilitylink" aria-label="Accessibility opens in new tab">Accessibility</a>                            
                        </div>
                        <p class="footer-text">&copy; Crown copyright @DateTime.Now.Year UK Hydrographic Office</p>
                    </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - UKHO.MaritimeSafetyInformation.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
