<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maritime Safety Information</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/%40ukho/styles@1.3.21/dist/ukho.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/maritime-safety-information.min.css" asp-append-version="true" />
</head>
<body>
    <a class="skip-to-content-link" href="#headingLevelOne">Skip to content</a>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow py-lg-0 py-2">
            <div class="banner container-fluid justify-content-start">
                <a class="navbar-brand" id="brandLogo" href="https://www.admiralty.co.uk/">
                    <img class="logo-img" src="~/images/Admiralty-stacked-logo.svg" alt="Admiralty Maritime Data Solutions Home">
                </a>
                <div class="vertical-divider"></div>
                <a class="site-title" id="siteTitle" asp-area="" asp-controller="Home" asp-action="Index" aria-label="Maritime Safety Information Home">Maritime Safety Information</a>
                <button class="navbar-toggler collapsed ms-auto d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon top-bar"></span>
                    <span class="toggler-icon middle-bar"></span>
                    <span class="toggler-icon bottom-bar"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NoticesToMariners" asp-action="Index">Notices to Mariners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RadioNavigationalWarnings" asp-action="Index">Radio Navigational Warnings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-content">
        @RenderBody()
    </main>
    <footer class="site-footer">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-auto mt-3 mb-3">
                        <a class="footer-img" href="https://www.gov.uk/ukho">
                            <img src="~/images/UKHO-stacked-logo.svg" alt="UK Hydrographic Office Logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-12 col-lg-auto col-md-8 text-lg-end text-start mt-lg-3 mb-3 mt-0">
                        <div class="footer-links row row-cols-lg-auto row-cols-sm-2 row-cols-1 justify-content-lg-end  justify-content-start">
                            <a class="col" href="https://www.admiralty.co.uk/cookie-policy" target="_blank" tabindex="0" id="privacypolicylink" aria-label="Privacy policy opens in new tab">Privacy and cookies</a>
                            <a class="col" href="#" target="_blank" tabindex="0" id="accessibilitylink" aria-label="Accessibility opens in new tab">Accessibility</a>                            
                        </div>
                        <p class="footer-text">&copy; Crown copyright @DateTime.Now.Year UK Hydrographic Office</p>
                    </div>
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Custom/RadioNavigationalWarnings-admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
