@{
    Layout = "_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 msi-tabs-container" role="complementary" aria-label="Sidebar">
            <!--left nav-->
            @if (ViewContext.RouteData.Values["controller"]?.ToString() == "NoticesToMariners")
            {
                <partial name="_NMLeftMenu"></partial>
            }
            else if (ViewContext.RouteData.Values["controller"]?.ToString() == "RadioNavigationalWarnings")
            {
                <partial name="_RNWLeftMenu"></partial>
            }

        </nav> <!--right content-->
        <div class="col-lg-8 col-md-10 msi-tabs-content-container">
            <h1 id="headingLevelOne" class="mt-0">@Convert.ToString(ViewData["Header"])</h1>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}
