<!--tabs-->
<ul class="nav nav-tabs msi-tabs" id="rnwTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a href="#allwarnings" class="nav-link active" id="allwarnings-tab" data-bs-toggle="tab" data-bs-target="#allwarnings" role="tab" aria-controls="allwarnings" aria-selected="false">All warnings</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#navarea1" class="nav-link" id="NAVAREA1-tab" data-bs-toggle="tab" data-bs-target="#navarea1" role="tab" aria-controls="allwarnings" aria-selected="false" tabindex="-1">NAVAREA 1</a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="#ukcoastal" class="nav-link" id="ukcoastal-tab" data-bs-toggle="tab" data-bs-target="#ukcoastal" role="tab" aria-controls="allwarnings" aria-selected="false" tabindex="-1">UK Coastal</a>
    </li>
</ul>
