<ul class="nav flex-column msi-page-nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Radio Warnings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
</ul>
