@model UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning.DTO.RadioNavigationalWarning

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">

    <h1 id="headingLevelOne" class="mt-0">Create Radio Navigational Warnings</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="WarningType" class="form-label"></label>
                    <span class="text-danger">*</span>
                    <select asp-for="WarningType" asp-items="@(new SelectList(ViewBag.WarningType,"Id","Name"))" class="form-select">
                        <option value="" selected disabled hidden>Select Warning Type</option>
                    </select>
                    <span asp-validation-for="WarningType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Reference" class="form-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="Reference" class="form-control" />
                    <span asp-validation-for="Reference" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DateTimeGroup" class="form-label">Date/time</label>
                    <span class="text-danger">*</span>
                    <input asp-for="DateTimeGroup" class="form-control" />
                    <span asp-validation-for="DateTimeGroup" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Summary" class="form-label"></label>
                    <span class="text-danger">*</span>
                    <input asp-for="Summary" class="form-control" />
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <span class="text-danger">*</span>
                    <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ExpiryDate" class="form-label">Expiry date and time</label>
                    <input asp-for="ExpiryDate" class="form-control" />
                </div>
                 <div class="mb-3">
                     @Html.Hidden("SkipDuplicateReferenceCheck", "")
                </div>
                <div class="mb-3">
                    <input type="submit" value="Create" id="btnCreate" class="primary me-4" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal overlay d-none" tabindex="-1" id="overlayId" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" onclick="closeConfirmBox()" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@TempData["message"]</p>
            </div>
            <div class="modal-footer">
                <button onclick="isConfirm(true)">Yes</button>
                <button onclick="isConfirm(false)">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop d-none" id="backdropId" ></div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    if (TempData["message"] != null) {
        <script>
            document.getElementById("overlayId").classList.remove("d-none");
            document.getElementById("overlayId").classList.add("d-block");
            document.getElementById("backdropId").classList.remove("d-none");
            document.getElementById("backdropId").classList.add("d-block");

            function closeConfirmBox() {
                document.getElementById("overlayId").classList.add("d-none");
                document.getElementById("overlayId").classList.remove("d-block");
                document.getElementById("backdropId").classList.add("d-none");
                document.getElementById("backdropId").classList.remove("d-block");
            }

            function isConfirm(answer) {
                if (answer) {
                    document.getElementById("SkipCheckDuplicate").value = "Yes";
                    document.getElementById('btnCreate').click()
                } else {
                    document.getElementById("SkipCheckDuplicate").value = "No";
                }
                closeConfirmBox();
            }
        </script>
    }
}
