parameters:
  - name: ContinueEvenIfResourcesAreGettingDestroyed
    type: boolean
    default: false
  - name: AzureSubscription
    type: string

steps:
  - task: FileTransform@2
    displayName: "File Transform: Msi Config" #Replace msi instance value from pipeline 
    inputs:
      folderPath: '$(Pipeline.Workspace)/terraformartifact/src'
      enableXmlTransform: false
      jsonTargetFiles: 'appsettings.json'

  - task: PowerShell@2
    displayName: "terraform $(Environment)deploy"
    name: TerraformDeploy
    inputs:
      targetType: filePath
      filePath: '$(Pipeline.Workspace)/terraformartifact/terraform_conditional_run.ps1'
      arguments: '-deploymentResourceGroupName $(DeploymentResourceGroupName) -deploymentStorageAccountName $(DeploymentStorageAccountName) -workSpace $(Environment) -continueEvenIfResourcesAreGettingDestroyed $${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }} -terraformJsonOutputFile $(Pipeline.Workspace)/terraformartifact/terraform_output.json'
    env:
      ARM_CLIENT_ID: $(TERRAFORM-CLIENT-ID)
      ARM_CLIENT_SECRET: $(TERRAFORM-CLIENT-SECRET)
      ARM_TENANT_ID: $(TERRAFORM-TENANT-ID)
      ARM_SUBSCRIPTION_ID: $(TERRAFORM-SUBSCRIPTION-ID)
      TF_VAR_spoke_rg: $(spokeRG)
      TF_VAR_spoke_vnet_name: $(spokeVnetName)
      TF_VAR_spoke_subnet_name: $(spokeSubnetName)
      TF_VAR_agent_rg: $(agentRG)
      TF_VAR_agent_vnet_name: $(agentVnetName)
      TF_VAR_agent_subnet_name: $(agentSubnetName)
      TF_VAR_agent_subscription_id: $(agentSubscriptionId)
      TF_VAR_allowed_ips: $(whiteListedIps)
      TF_VAR_rnw_db_server: $(RNW_DB_Server)
      TF_VAR_rnw_db_name: $(RNW_DB_Name)
      TF_VAR_rnw_db_app_sqluser: $(RNW_DB_App_SQLUser)
      TF_VAR_rnw_db_app_sqlpass: $(RNW_DB_App_SQLPass)
      TF_VAR_rnw_db_admin_app_sqluser: $(RNW_DB_Admin_SQLUser)
      TF_VAR_rnw_db_admin_app_sqlpass: $(RNW_DB_Admin_SQLPass)
