<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-lg-6 col-md-8 custom-error">
            <h1 id="headingLevelOne" class="mt-0">Sorry, there is a problem with the service</h1>
            <p class="intro-text">Try again later</p>
            <p class="paragraph">
                If you need to talk to someone, contact the customer service team <a href="mailto:customerservcies@ukho.gov.uk">customerservcies@ukho.gov.uk</a>
            </p>

            <h5>@Convert.ToString(ViewData["CurrentCorrelationId"])</h5>
        </div>
    </div>
</div>


