<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-lg-6 col-md-8 custom-error">
            <h1 id="headingLevelOne" class="mt-0">Sorry, there is a problem with the service</h1>
            <p class="intro-text">Please try again later</p>
            <p class="paragraph">
                If you need to talk to someone, contact the customer service team at <a href="mailto:customerservice@ukho.gov.uk?subject=CorrelationId: @Convert.ToString(ViewData["CurrentCorrelationId"])">customerservice@ukho.gov.uk</a>.
                <br />
                Use CorrelationId: <b>@Convert.ToString(ViewData["CurrentCorrelationId"])</b> for your reference.
            </p>

            <h5></h5>
        </div>
    </div>
</div>


