@{
    ViewData["Title"] = "Maritime Safety Information";
}
<div class="container-fluid">    
    <div class="row justify-content-lg-center">
        <div class="col-lg-9">
            <h1 id="headingLevelOne" class="mt-0" data-testid="headingLevelOne">Maritime Safety Information</h1>
            <p class="intro-text">View the latest safety-critical navigational information </p>
            <p class="intro-text">If you are an ADMIRALTY Distributor, please sign in to see more content </p>
            <div class="row mb-5">
                <div class="col-md-6 pe-md-0">
                    <div class="nm-link">
                        <h2>Notices to Mariners (NMs)</h2>
                        <p>  Weekly updates that provide bridge crews with the latest safety-critical navigational information. They can be downloaded for free here, or purchased as weekly bulletins from your ADMIRALTY Distributor.</p>
                        <a href="@Url.Action("Index", "NoticesToMariners")" class="bottom-link">Go to Notices to Mariners</a>
                    </div>
                </div>
                <div class="col-md-6 ps-md-0">
                    <div class="rnw-link">
                        <h2>Radio Navigation Warnings (RNWs)</h2>
                        <p>NAVAREA 1 and UK Coastal navigation warnings reproduced online.</p>
                        <a href="@Url.Action("Index", "RadioNavigationalWarnings")" class="bottom-link">Go to Radio Navigation Warnings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
