@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "About Notices to Mariners";
}
<h2>
    ADMIRALTY Notices to Mariners (NMs)
</h2>
<p>
    ADMIRALTY Notices to Mariners are weekly updates that provide bridge crews with the latest safety-critical navigational information. They can be downloaded as a zip for free on this website or purchased as weekly bulletins from your ADMIRALTY Distributor.
</p>
<p>
    ADMIRALTY charts and publications should be maintained so that they are fully up-to-date for the latest safety-critical navigational information. The ADMIRALTY Notices to Mariners service provides all the data you need to maintain our products.
</p>
<p>
    ADMIRALTY NMs contain all the corrections, alterations and amendments for the UKHO's worldwide series of ADMIRALTY charts and publications. They are published weekly in several formats but best known as the weekly booklets, which are despatched directly from the UKHO.
</p>
<p>
    <a href="~/nms/about/ADMIRALTY-NMs-Guidance-Notes-Sept2015.pdf" target="_blank" aria-label="View the guidance notes for Notices to Mariners here PDF opens in new tab">View the guidance notes for Notices to Mariners here</a>
</p>
<hr aria-hidden="true" />
<h2>
    Updating your ADMIRALTY charts - a film guide to using Notices to Mariners
</h2>
<p>
    The UKHO has produced a series of support films to help you update your ADMIRALTY charts. The films, which are hosted on our YouTube channel, also include a look at some useful tools to help you carry out these tasks.
</p>
<p>
    <a href="https://www.youtube.com/watch?v=obRmBWhnZEo&list=PLIyHcA-twBuNFDcas706D6vEsmXCTPKtU" target="_blank" aria-label="Watch the support films here opens in new tab">Watch the support films here</a>
</p>
<hr aria-hidden="true" />
<h2>
    New Notices to Mariners tracings
</h2>
<p>
    Please see our publication <a href="https://www.admiralty.co.uk/publications/publications-and-reference-guides/general-publications-and-reference-guides" target="_blank" aria-label="How to keep your ADMIRALTY Products Up-to-Date (NP294) opens in new tab">'How to keep your ADMIRALTY Products Up-to-Date (NP294)'</a> 10th Edition, published 1 June 2017 for further information.
</p>
<p>   
    <a href="~/nms/about/An overview of new ADMIRALTY Notices to Mariners tracings.pdf" target="_blank" aria-label="View the overview of new Notices to Mariners tracings PDF opens in new tab">View the overview of new Notices to Mariners tracings</a>
</p>
<p>
    <a href="~/nms/about/Quick guide of new ADMIRALTY Notices to Mariners tracings.pdf" target="_blank" aria-label="View the quick guide to Notices to Mariners tracings PDF opens in new tab">View the quick guide to Notices to Mariners tracings</a>
</p>
<hr aria-hidden="true" />
<h2>
    ADMIRALTY Notices to Mariners Online
</h2>
<p>
    The ADMIRALTY Notices to Mariners Online service enables mariners to download NMs directly from this website. NMs Online can be accessed on this website under 'Notices for Mariners' documents.
</p>
<hr aria-hidden="true" />
<h2>
    Searchable NMs Database
</h2>
<p>
    The UKHO's searchable NMs database, known as NM Websearch, allows you to search by chart number for NM text, full colour NM blocks and notes.
</p>
<p>
    <a href="http://www.nmwebsearch.com/" target="_blank" aria-label="Access NM Websearch here opens in new tab">Access NM Websearch here</a>
</p>
<hr aria-hidden="true" />
<h2>
    Additional Notices to Mariners Services
</h2>
<p>
    For the latest information regarding <a href="https://www.admiralty.co.uk/digital-services/digital-charts/admiralty-vector-chart-service?selectTab=Updates" target="_blank" aria-label="update status of UK ENC cells in relation to UKHO NMs please click here opens in new tab">update status of UK ENC cells in relation to UKHO NMs please click here</a>.
</p>
<p>
    In addition to Weekly Notices to Mariners, the UKHO produces the following supplementary NM Publications:
</p>
<ul class="msi-list-style">
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Annual Summary of Notices to Mariners (NP247)
    </li>
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Notices to Mariners Block Updates
    </li>
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Notices to Mariners Tracings
    </li>
</ul>
<p>
    Guidance on how to apply the updates contained within NMs to ADMIRALTY Charts can also be found in NP294 - 'How To Keep Your ADMIRALTY Products Up-to-Date'.
</p>
<p>
    To help you keep a neat and formal record of all the NMs applied to a vessel's portfolio of charts, the UKHO recommends use of Paper Chart Maintenance Record (NP133A).
</p>
<hr aria-hidden="true" />
<h2>
    Pricing of ADMIRALTY Notices to Mariners (NMs)
</h2>
<ul class="msi-list-style">
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Cumulative List of ADMIRALTY Notices to Mariners (NP234A and NP234B) - £6.00 per copy
    </li>
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Annual Summary of ADMIRALTY Notices to Mariners (NP247) (paper version - parts 1 and 2) - £8.90 per copy
    </li>
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Notices to Mariners Web Services - Free
    </li>
    <li>
        <i class="bi bi-square-fill list-icon" aria-hidden="true"></i> Searchable Notices to Mariners Web Service - Free
    </li>
</ul>
<hr aria-hidden="true" />
<h2>
    Official Status of ADMIRALTY Notices to Mariners
</h2>
<p>
    The ADMIRALTY Notices to Mariners weekly bulletin is published by the UKHO. The UK Maritime & Coastguard Agency (MCA) accepts that both the paper and digital forms of the NM weekly comply with carriage requirement for Notices to Mariners within Regulation 19.2.1.4 of the revised Chapter V of the Safety of Life at Sea (SOLAS) Convention, and the Merchant Shipping (Safety of Navigation) Regulations, both of which came into force 1 July 2002.
</p>
<hr aria-hidden="true" />
<h2>
    Reproducing ADMIRALTY Notices to Mariners
</h2>
<p>
    ADMIRALTY Notices to Mariners (NM) are British Crown Copyright; resale of all or parts of the NMs is prohibited without written permission from UKHO. To apply for permission, please contact:  <a href="mailto:intellectual.property@ukho.gov.uk">intellectual.property@ukho.gov.uk</a>.  Please note that permission will only be granted subject to completion of an assessment.
</p>
