@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model List<ShowFilesResponseModel>
@{
    Layout = "_MSILayout";
}
@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
}

<input type="hidden" id="hdnRequestType" value="Weekly" />

<div class="row mb-3">        
    <div class="col-md-3 mb-3">
        <label for="ddlYears" class="form-label">Select Year</label>
        <select class="form-select" id="ddlYears">
            <option selected>Select year</option>
        </select>
    </div>
        
    <div class="col-md-3 mb-3">
        <label for="ddlWeeks" class="form-label">Select Week</label>
        <select class="form-select" id="ddlWeeks">
            <option selected>Select week</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="table-responsive-md" id="divFilesList">
        </div>
    </div>
</div>
<div class="tab-pane fade" id="daily" role="tabpanel" aria-labelledby="daily-tab">
    <div class="table-responsive" id="divDailyFilesList">
    </div>
</div>
