@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
}
@{
    ViewData["Header"] = "Value Added Resellers";
}
<p>
    We've licensed companies to issue updates for our products direct to vessels at sea through ADMIRALTY Chart Agents. These electronic couriers, or Value Added Resellers (VARs), supply correction datasets tailored to a vessel's portfolio of ADMIRALTY charts and publications. The datasets are derived from the ADMIRALTY digital files on our website.
</p>
<p>
    The electronic courier services help ship owners and masters to manage their chart and publication folios and comply with the International Safety Management Code.
</p>
<p>
    These companies are licensed to deliver ADMIRALTY Notices to Mariners on our behalf:
</p>
<div class="row">
    <div class="col">
        <div class="table-responsive" id="divCumulativeNMs">
            <table width="100%">
                <thead>
                <tr>
                    <th width="65%">Value Added Reseller</th>
                    <th>Website</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>American Nautical Services</td>
					<td><a href="https://www.amnautical.com" target="_blank">www.amnautical.com</a></td>
                </tr>
                <tr>
                    <td>B Cooke & Son Ltd</td>
					<td><a href="https://www.bcookeandson.co.uk" target="_blank">www.bcookeandson.co.uk</a></td>
                </tr>
                <tr>
                    <td>Boat Books Australia Pty Ltd</td>
					<td><a href="https://www.boatbooks-aust.com.au" target="_blank">www.boatbooks-aust.com.au</a></td>
                </tr>
                <tr>
                    <td>Bogerd Martin (Hong Kong) Ltd</td>
					<td><a href="https://www.martin.be" target="_blank">www.martin.be</a></td>
                </tr>
                <tr>
                    <td>C & C Marine Combine</td>
					<td><a href="https://www.cc-marine.com/" target="_blank">www.cc-marine.com</a></td>
                </tr>
                <tr>
                    <td>CAIM (Cooperativa per Azioni Armamento Imprese Maritime)</td>
					<td><a href="https://www.caim.it" target="_blank">www.caim.it</a></td>
                </tr>
                <tr>
                    <td>Chart Track</td>
					<td><a href="https://www.charttrack.com" target="_blank">www.charttrack.com</a></td>
                </tr>
                <tr>
                    <td>ChartWorld International Limited</td>
					<td><a href="https://www.chartworld.com" target="_blank">www.chartworld.com</a></td>
                </tr>
                <tr>
                    <td>Chersoft Ltd</td>
					<td><a href="https://www.chersoft.com" target="_blank">www.chersoft.com</a></td>
                </tr>
                <tr>
                    <td>Da Gama Maritime Ltd</td>
					<td><a href="https://www.dgmaritime.com" target="_blank">www.dgmaritime.com</a></td>
                </tr>
                <tr>
                    <td>Datema Delfzijl BV</td>
					<td><a href="https://www.datema.nl" target="_blank">www.datema.nl</a></td>
                </tr>
                <tr>
                    <td>David Store Navigation Management</td>
					<td><a href="https://www.dsnmltd.com" target="_blank">www.dsnmltd.com </a></td>
                </tr>
                <tr>
                    <td>E W Liner Charts & Publications</td>
					<td><a href="https://www.ewliner.com" target="_blank">www.ewliner.com</a></td>
                </tr>
                <tr>
                    <td>Easy Marine</td>
					<td><a href="https://www.easymarine.it" target="_blank">www.easymarine.it</a></td>
                </tr>
                <tr>
                    <td>Guangzhou Haining Maritime Service</td>
					<td>N/A</td>
                </tr>
                <tr>
                    <td>Harri Trading BV</td>
					<td><a href="https://www.harritrading.nl" target="_blank">www.harritrading.nl</a></td>
                </tr>
                <tr>
                    <td>Hong Yunn Sea Professional Company Limited</td>
					<td><a href="https://www.hongyunn.com.tw" target="_blank">www.hongyunn.com.tw</a></td>
                </tr>
                <tr>
                    <td>Maritime Services</td>
					<td><a href="https://www.maritimeservices.ca" target="_blank">www.maritimeservices.ca</a></td>
                </tr>
                <tr>
                    <td>Maryland Nautical Sales Inc.</td>
					<td><a href="https://www.mdnautical.com" target="_blank">www.mdnautical.com</a></td>
                </tr>
                <tr>
                    <td>Millenium Marine Services EPP</td>
					<td><a href="https://www.milleniummarine.com" target="_blank">www.milleniummarine.com</a></td>
                </tr>
                <tr>
                    <td>Motion Smith</td>
					<td><a href="https://www.motsmith.com" target="_blank">www.motsmith.com</a></td>
                </tr>
                <tr>
                    <td>NautoShark</td>
					<td><a href="https://www.navareas.com" target="_blank">www.navareas.com</a></td>
                </tr>
                <tr>
                    <td>NAVICO Norway AS (C-MAP Update Service)</td>
					<td><a href="https://www.navico.com" target="_blank">www.navico.com</a></td>
                </tr>
                <tr>
                    <td>Navtor AS</td>
					<td><a href="https://www.navtor.com" target="_blank">www.navtor.com</a></td>
                </tr>
                <tr>
                    <td>Novaco</td>
					<td><a href="https://www.novaco.co.uk" target="_blank">www.novaco.co.uk</a></td>
                </tr>
                <tr>
                    <td>OneOcean (Canada) Inc</td>
					<td><a href="https://www.oneocean.com" target="_blank">www.oneocean.com</a></td>
                </tr>
                <tr>
                    <td>OneOcean Group Limited</td>
					<td><a href="https://www.oneocean.com" target="_blank">www.oneocean.com</a></td>
                </tr>
                <tr>
                    <td>Plymouth Sea Chest Limited</td>
					<td><a href="https://www.seachest.co.uk" target="_blank">www.seachest.co.uk</a></td>
                </tr>
                <tr>
                    <td>Poseidon Navigation Services Ltd</td>
					<td><a href="https://www.poseidonnavigation.com" target="_blank">www.poseidonnavigation.com</a></td>
                </tr>
                <tr>
                    <td>Qija Voyage Ltd</td>
					<td><a href="http://www.qjvoy.net/en/" target="_blank">www.qjvoy.net</a></td>
                </tr>
                <tr>
                    <td>SEEKARTE Kapitän A. Dammeyer GmbH & Co. KG</td>
					<td><a href="https://www.seekarte.de" target="_blank">www.seekarte.de</a></td>
                </tr>
                <tr>
                    <td>Shanghai Ocean Nautical Supply Company</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Shenzhen Goldsailocean Navigation Article Co Ltd</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>South Bank Marine</td>
					<td><a href="https://www.southbankmarine.com" target="_blank">www.southbankmarine.com</a></td>
                </tr>
                <tr>
                    <td>StormGeo</td>
					<td><a href="https://www.stormgeo.com" target="_blank">www.stormgeo.com</a></td>
                </tr>
                <tr>
                    <td>Suisca SL</td>
					<td><a href="https://www.suiscasl.com" target="_blank">www.suiscasl.com</a></td>
                </tr>
                <tr>
                    <td>Sweethigh Navigation Technology Limited</td>
					<td><a href="https://www.sweethighnavigation.com" target="_blank">www.sweethighnavigation.com</a></td>
                </tr>
                <tr>
                    <td>Todd Chart Agency Limited</td>
					<td><a href="https://www.toddchart.com" target="_blank">www.toddchart.com</a></td>
                </tr>
                <tr>
                    <td>Tyneside Nautical Charts & Publications</td>
					<td><a href="https://www.tyneside.co.za" target="_blank">www.tyneside.co.za</a></td>
                </tr>
                <tr>
                    <td>Vanos S A</td>
					<td><a href="https://www.vanos.gr" target="_blank">www.vanos.gr</a></td>
                </tr>
                <tr>
                    <td>Voyager Worldwide - A Global Navigation Solutions Limited Company</td>
					<td><a href="https://www.voyagerww.com" target="_blank">www.voyagerww.com</a></td>
                </tr>
                <tr>
                    <td>Voyager Worldwide -Yasden Denizcilik AS Company</td>
					<td><a href="https://www.voyagerww.com" target="_blank">www.voyagerww.com</a></td>
                </tr>
                <tr>
                    <td>Voyager Worldwide - A Safe Navigation Inc Company</td>
					<td><a href="https://www.voyagerww.com" target="_blank">www.voyagerww.com</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
