@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners

@model List<ShowDailyFilesResponseModel>
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "Notices to Mariners - Daily";
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
}
<partial name="_NMHorizontalTab" />

<div class="tab-content" id="nmTabContent">
    <input type="hidden" id="IsDailyFilesResponseCached" value= @ViewBag.IsDailyFilesResponseCached>

    <div class="tab-pane fade show active" id="daily" role="tabpanel">
        <input type="hidden" id="hdnRequestType" value="Daily" />
        @if (@Model != null)
        {
            <partial name="ShowDailyFilesList" model="@Model" />
        }
    </div>
</div>
