@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners
@model List<ShowFilesResponseModel>
@{
    var a = Model;
}

@if (Model != null && Model.Count > 0)
{
    <table class="table table-scroll small-first-col notice-to-mariners-weekly-table">
        <caption class="hidden-caption">Notice to Mariners Weekly Updates</caption>
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Size</th>
                <th class="th-3"><span class="visually-hidden">Action</span></th>
            </tr>
        </thead>
        <tbody class="scroll-content scroll-bar">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FileDescription</td>
                    <td>@item.FileSizeinKB (@item.FileExtension)</td>
                    <td class="td-3 justify-content-center"><a href="#">Download</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert" aria-atomic="true">
        <i class="bi bi-exclamation-lg" aria-hidden="true"></i>
        <div class="alert-head">There’s a problem</div>
        <p>It looks like there might be a problem with our system. We’re sorry for the inconvenience. If the problem persists contact <a href="mailto:customerservices@ukho.gov.uk">customerservices@ukho.gov.uk</a></p>
    </div>
}



