@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners

@model List<ShowDailyFilesResponseModel>
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notice to Mariners";
    ViewData["PageName"] = "Daily";
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
}
<partial name="_NMHorizontalTab" />
<input type="hidden" id="hdnRequestType" value="Daily" />

<div class="row">
    <div class="col">
        @if (@Model != null)
        {
            <partial name="ShowDailyFilesList" model="@Model" />
        }
    </div>
</div>



