@using UKHO.MaritimeSafetyInformation.Common.Models.NoticesToMariners

@model List<ShowDailyFilesResponseModel>
@{
    Layout = "~/Views/Shared/_MSILayout.cshtml";
    ViewData["Header"] = "Notices to Mariners";
    ViewData["Title"] = "Notices to Mariners - Daily";
}

@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/js/Custom/NoticesToMariners.js")"></script>
}
<partial name="_NMHorizontalTab" />

<div class="tab-content" id="nmTabContent">
    <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
        @if (@ViewBag.IsDistributor)
        {
            <div id="NMInfo" class="alert alert-primary p-4" role="alert">
                <i class="bi bi-exclamation-circle-fill" aria-hidden="true"></i>
                <div class="alert-head">Temporary Notice</div>
                <p>
                    Distributors must temporarily obtain NM tracings files from the Distributor FTP.
                    <a href="~/nms/tracings/FTP Tracings Guide.pdf" target="_blank">More information</a>
                </p>
            </div>
        }
        <input type="hidden" id="hdnRequestType" value="Daily" />
        @if (@Model != null)
        {
            <partial name="ShowDailyFilesList" model="@Model" />
        }
    </div>
</div>
