<p>
    The Cumulative List of ADMIRALTY Notices to Mariners (NP234 A/B) can help you to identify outstanding NMs and audit trails for a particular chart or charts. The list is published annually, with Part A in January and Part B in July
</p>

<p>
    The Cumulative List of ADMIRALTY Notices to Mariners is available without subscription from ADMIRALTY Chart Agents. You can view it by clicking on the links below.
</p>

<div class="row">
    <div class="col">
        <div class="table-responsive" id="divCumulativeNMs">
            <table width="100%">
                <thead>
                <tr>
                    <th width="45%">File name</th>
                    <th width="45%">File size</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(A)-22.pdf" target="_blank">NP234(A) 2022</a></td>
                    <td>1,099 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(A)-22.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(B)-21.pdf" target="_blank">NP234(B) 2021</a></td>
                    <td>1,355 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(B)-21.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(A)-21.pdf" target="_blank">NP234(A) 2021</a></td>
                    <td>1,236 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(A)-21.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(B)-20.pdf" target="_blank">NP234(B) 2020</a></td>
                    <td>1,184 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(B)-20.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(A)-20.pdf" target="_blank">NP234(A) 2020</a></td>
                    <td>1,033 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(A)-20.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(B)-19.pdf" target="_blank">NP234(B) 2019</a></td>
                    <td>1,122 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(B)-19.pdf" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><a href="~/nms/cumulative/NP234(A)-19.pdf" target="_blank">NP234(A) 2019</a></td>
                    <td>774 KB (pdf)</td>
                    <td><a href="~/nms/cumulative/NP234(A)-19.pdf" target="_blank">Download</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
