@import "variables";

%focus {
    outline: 0;
    box-shadow: 0 0 0 0.14rem #fd0 !important;
}

a, button, .form-select, .form-control, .form-check-input, input[type="submit"], input[type="button"] {
    &:focus {
        @extend %focus;
    }
}

.alert {
    padding: 20px 30px 30px;
    border-radius: 0;
    border: 0;

    .alert-head {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 21px;
        line-height: 30px;
    }

    p {
        margin-bottom: 0;
        margin-top: 5px;
        line-height: 1.8rem;
    }
}

.alert-primary {
    background-color: $azurish-white;
    border-left: 6px solid $ocean-boat-blue;
    color: $prussian-blue;

    .alert-head {
        color: $prussian-blue;
    }
}

.alert-danger {
    background-color: #F7E1E1;
    border-left: 6px solid #E20D0D;
    color: $prussian-blue;

    i.bi {
        font-size: 26px;
        position: relative;
        top: 4px;
        left: -10px;
    }

    .alert-head {
        color: $prussian-blue;
        margin-left: -10px;
    }
}

.form-label {
    margin-bottom: 0.5rem !important;
    font-size: 16px;
    font-weight: 400;
}

button, input[type="submit"].primary, a.primary {
    height: auto;
    min-width: auto;
    font-size: 18px;
    padding: 12px 40px;
    display: inline-block;
    text-decoration: none;

    &:active {
        background-color: $prussian-blue;
    }
}

input[type="submit"].primary, a.primary {
    background-color: #09315b;
    color: #fff;
    border: 2px solid #09315b;
    white-space: nowrap;
}

.inline-btn {
    margin-top: 2rem;

    @media screen and (max-width: $small) {
        margin-top: 0;
    }
}

.inline-link {
    display: inline-block;
    margin-top: 2.7rem;

    @media screen and (max-width: $small) {
        margin-top: 0;
    }
}

.form-select, .form-control {
    border-radius: 0;
    border: 2px solid $eerie-black;
    font-size: 21px;
    color: $black;

    &:focus {
        border-color: $eerie-black;
    }
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231C1F22' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-size: 1.2rem 1.2rem;
}

.form-select option {
    font-weight: 300;
    font-size: 16px;
}

.form-check-label {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.form-check-input {
    width: 30px;
    height: 30px;
    border: 2px solid $prussian-blue;

    &[type=checkbox] {
        border-radius: 0;
    }

    &:checked {
        background-color: $white;
        border-color: $prussian-blue;
        color: $prussian-blue;

        &[type=checkbox] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2309315b' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
        }
    }

    &:focus {
        border-color: $prussian-blue;
    }
}

.main-content {
    padding: 2rem 0;
}


.bold-icon {
    -webkit-text-stroke: 2px;
}

button:disabled, input[type=button]:disabled {
    cursor: not-allowed;

    &:active {
        background-color: #adadad;
    }
}

table {
    border-collapse: collapse;
    margin-bottom: 30px !important;

    thead {
        tr th {
            border-bottom: 0;
        }
    }

    td {
        border-bottom: 1px solid $light-silver !important;
        border-right: 1px solid $light-silver !important;

        a {
            font-weight: 300;
        }
    }
}

.hidden-caption {
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    margin-top: -1px;
}
button:disabled, input[type=button]:disabled {
    background-color: $AuroMetalSaurus;
    border: 2px solid $AuroMetalSaurus;
}
