@media print {
    button#Print, .msi-tabs-container, .back-btn-container, .site-footer, .site-header {
        display: none;
    }

    .selection-details {
        overflow-y: hidden;
        max-height: 100% !important;
        .warning-detail pre{
            line-height:27px;
            font-size:18px;
        }
    }
    .footer-text{
        margin-top:0!important;
    }
    #rnwInfo{
        padding-top:0!important;
        padding-bottom:0!important;
    }
    .warning-detail {
        page-break-inside: avoid;
        page-break-after: auto;
    }
}
