@import "variables";

.notice-to-mariners-weekly-table, .notice-to-mariners-daily-table, .notice-to-mariners-cumulative-table {
    thead {
        tr {
            th {
                &.th-3 {
                    flex-basis: 35%;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                &.td-3 {
                    flex-basis: 35%;
                }
            }
        }
    }
}

.rnw-allwarnings-table {
    thead {
        tr {
            th {
                &.th-1 {
                    flex-basis: 64%;

                    @media screen and (max-width: $small) {
                        flex-basis: 71%;
                    }
                }

                &.th-2 {
                    flex-basis: 94%
                }

                &.th-4 {
                    flex-basis: 77%
                }

                &.th-5 {
                    flex-basis: 38%;

                    @media screen and (max-width: $small) {
                        flex-basis: 46%;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            td {
                &.td-1 {
                    flex-basis: 60%;

                    @media screen and (max-width: $small) {
                        flex-basis: 71%;
                    }
                }

                &.td-2 {
                    flex-basis: 90%
                }

                &.td-4 {
                    flex-basis: 70%;
                }

                &.td-5 {
                    flex-basis: 30%
                }
            }
        }

        tr:nth-child(even) {
            background-color: $white;
        }

        tr:nth-child(4n-1) {
            background-color: rgb(238, 243, 244);
        }

        &.scroll-content {
            max-height: 88vh !important;
        }
    }
}

.accordianTable {
    .accordion-button {
        padding: 0;
        width: auto;
        display: inline-block;
        text-decoration: underline;
        color: $prussian-blue;
        background-color: transparent;
        font-weight: 300;

        &:hover, &:active {
            border: 0;
            background-color: transparent;
        }
    }

    tr.accordion-collapse td {
        border-right: 0 !important;
    }
}

.accordianTable, .selection-details {
    .warning-detail {
        font-size: 18px;
        color: $black;

        h1, h2, h3 {
            color: $black;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }

        .warning-type {
            font-weight: 400;
        }

        pre {
            width: 100%;
            overflow: hidden;
            font-family: JohnstonITC, Helvetica, sans-serif;
            font-size: 18px;
            white-space: pre-line;
            word-break: break-word;
        }
    }
}

.selection-details {
    max-height: 60vh !important;
    overflow-y: auto;
    margin: 30px 0;
    padding-right: 2px;

    .warning-detail {
        padding: 18px 0;
        border-bottom: 1px solid $american-silver;

        &:last-child {
            border-bottom: none;
        }

        &:first-child {
            border-top: 1px solid $american-silver;
        }

        h1 {
            font-size: 21px;
        }
    }
}

.caption-table {
    margin-top: 45px;
    position: relative;

    .table-caption {
        display: block;
        font-weight: 400;
        font-size: 21px;
        color: $black;
        padding: 1rem 0;
        position: absolute;
        width: 100%;
        top: -50px;
    }
}

.daily-table-container {
    max-height: 78vh !important;
    overflow-y: auto;
    padding-right: 2px;
}
.notice-to-mariners-vars-table {
    thead {
        tr {
            th:last-child {
                flex-basis: 68%;
            }
        }
    }

    tbody {
        tr {
            td:last-child {
                flex-basis: 68%;
            }
        }
    }
}
