//colors
$prussian-blue: #09315b;
$whitesmoke: #eeeeee;
$dark-charcoal: #333333;
$light-silver: #d8d8d8;
$white: #ffffff;
$anti-flash-white:#f0f0f0;
$azurish-white:#E0ECF3;
$ocean-boat-blue: #0177C1;
$eerie-black: #1C1F22;
$lavender-gray: #C4C4CA;
$davys-grey: #595959;
$black: #000000;
$american-silver: #D0D0D0;
$platinum: #dee2e6;
$AuroMetalSaurus: #6c757d;
$cg-blue: #007E97;

//breakpoints
$xx-small: 320px;
$x-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;
