@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.site-header .navbar {
  padding: 0;
  border: 2px solid transparent;
}
@media screen and (max-width: 768px) {
  .site-header .navbar {
    border: 0;
  }
}
.site-header .navbar .navbar-toggler {
  border: 0;
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.site-header .navbar .navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}
.site-header .navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: aplha(opacity=100);
}
.site-header .navbar .navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}
.site-header .navbar .navbar-toggler span {
  padding: 0;
  margin: 0;
}
.site-header .navbar .navbar-toggler:hover, .site-header .navbar .navbar-toggler:focus, .site-header .navbar .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
  background-color: transparent;
}
.site-header .navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
.site-header .navbar .navbar-brand .logo-img {
  width: 10rem;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .site-header .navbar .navbar-brand .logo-img {
    width: 8rem;
  }
}
@media screen and (max-width: 768px) {
  .site-header .navbar .navbar-brand .logo-img {
    width: 7rem;
  }
}
@media screen and (max-width: 576px) {
  .site-header .navbar .navbar-brand .logo-img {
    width: 5.5rem;
  }
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse {
    position: absolute;
    width: 50%;
    top: 58px;
    right: 0;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    border-width: 0 1px;
    border-style: solid;
    border-color: #dee2e6;
  }
}
@media screen and (max-width: 576px) {
  .site-header .navbar-collapse {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .site-header .navbar-collapse {
    top: 63px;
  }
}
.site-header .navbar-collapse .navbar-nav li {
  margin: 0;
  padding: 0;
  transform: none;
  display: flex;
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li {
    display: block;
  }
}
.site-header .navbar-collapse .navbar-nav li:before {
  content: none;
}
.site-header .navbar-collapse .navbar-nav li a {
  padding: 2rem 1rem;
  color: #09315b !important;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .site-header .navbar-collapse .navbar-nav li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li a {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6 !important;
  }
}
.site-header .navbar-collapse .navbar-nav li a:hover {
  background-color: #f0f0f0;
  box-shadow: inset 0 -5px #09315b;
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li a:hover {
    box-shadow: none;
  }
}
.site-header .navbar-collapse .navbar-nav li a.active {
  background-color: #ffffff;
  box-shadow: inset 0 -5px #09315b;
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li a.active {
    box-shadow: none;
  }
}
.site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-menu[data-bs-popper] {
  padding: 0;
  border-radius: 0;
  width: 300px;
  right: 0;
  left: inherit;
  margin-top: 0;
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-menu[data-bs-popper] {
    width: 100%;
    border: 0;
  }
}
.site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-menu[data-bs-popper] .dropdown-item {
  padding: 0.5rem 1rem;
  box-shadow: none;
  font-weight: 300;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-menu[data-bs-popper] .dropdown-item {
    border-top: 0 !important;
    font-size: 14px;
  }
}
.site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle {
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: break-spaces;
}
.site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle:hover, .site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle.show {
  background-color: #f0f0f0;
  box-shadow: inset 0 -5px #09315b !important;
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle:hover, .site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle.show {
    box-shadow: none !important;
  }
}
@media screen and (max-width: 992px) {
  .site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle {
    white-space: normal;
    width: 100%;
  }
}
.site-header .navbar-collapse .navbar-nav li.dropdown .dropdown-toggle::after {
  content: none;
}
.site-header .vertical-divider {
  border-right: 1px solid #d8d8d8;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 40px;
}
@media screen and (max-width: 576px) {
  .site-header .vertical-divider {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .site-header .vertical-divider {
    display: none;
  }
}
.site-header .site-title {
  font-size: 30px;
  line-height: 40px;
  color: #09315b;
  text-decoration: none !important;
}
@media screen and (max-width: 1200px) {
  .site-header .site-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .site-header .site-title {
    flex-basis: 50%;
    line-height: 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .site-header .site-title {
    flex-basis: 90%;
  }
}

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #09315b;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.toggler-icon.middle-bar {
  margin-top: 0;
  opacity: 0;
  filter: aplha(opacity=0);
}
.toggler-icon.top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}
.toggler-icon.bottom-bar {
  margin-top: 0;
  transform: rotate(-135deg);
}

.skip-to-content-link {
  background: #09315b;
  color: #ffffff !important;
  font-weight: 300;
  left: 45%;
  padding: 10px;
  position: absolute;
  transform: translateY(-101%);
  transition: transform 0.3s;
  z-index: 10;
  text-decoration: none;
  border-radius: 0;
}

.skip-to-content-link:hover {
  color: #ffffff;
}

.skip-to-content-link:focus {
  transform: translateY(-5%);
}

.site-footer {
  border-top: #09315b 0.375rem solid;
  height: auto;
  background: #eeeeee;
  padding: 0 !important;
  position: relative;
  font-size: 18px;
}
.site-footer .footer-img {
  width: 12rem;
  height: 7rem;
  display: inline-block;
}
.site-footer .footer-links {
  padding: 0 2px;
}
.site-footer .footer-links a {
  color: #09315b;
}
.site-footer .footer-links a:last-of-type {
  margin-right: 0;
}
.site-footer .footer-text {
  font-weight: 300;
  color: #333333;
  line-height: 1.875em;
  margin-top: 28px;
  margin-bottom: 0 !important;
  clear: both;
}

.notice-to-mariners-weekly-table thead tr th.th-3, .notice-to-mariners-daily-table thead tr th.th-3, .notice-to-mariners-cumulative-table thead tr th.th-3 {
  flex-basis: 35%;
}
.notice-to-mariners-weekly-table tbody tr td.td-3, .notice-to-mariners-daily-table tbody tr td.td-3, .notice-to-mariners-cumulative-table tbody tr td.td-3 {
  flex-basis: 35%;
}

.rnw-allwarnings-table thead tr th.th-1 {
  flex-basis: 64%;
}
@media screen and (max-width: 576px) {
  .rnw-allwarnings-table thead tr th.th-1 {
    flex-basis: 71%;
  }
}
.rnw-allwarnings-table thead tr th.th-2 {
  flex-basis: 94%;
}
.rnw-allwarnings-table thead tr th.th-4 {
  flex-basis: 77%;
}
.rnw-allwarnings-table thead tr th.th-5 {
  flex-basis: 38%;
}
@media screen and (max-width: 576px) {
  .rnw-allwarnings-table thead tr th.th-5 {
    flex-basis: 46%;
  }
}
.rnw-allwarnings-table tbody tr td.td-1 {
  flex-basis: 60%;
}
@media screen and (max-width: 576px) {
  .rnw-allwarnings-table tbody tr td.td-1 {
    flex-basis: 71%;
  }
}
.rnw-allwarnings-table tbody tr td.td-2 {
  flex-basis: 90%;
}
.rnw-allwarnings-table tbody tr td.td-4 {
  flex-basis: 70%;
}
.rnw-allwarnings-table tbody tr td.td-5 {
  flex-basis: 30%;
}
.rnw-allwarnings-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.rnw-allwarnings-table tbody tr:nth-child(4n-1) {
  background-color: #eef3f4;
}
.rnw-allwarnings-table tbody.scroll-content {
  max-height: 88vh !important;
}

.accordianTable .accordion-button {
  padding: 0;
  width: auto;
  display: inline-block;
  text-decoration: underline;
  color: #09315b;
  background-color: transparent;
  font-weight: 300;
}
.accordianTable .accordion-button:hover, .accordianTable .accordion-button:active {
  border: 0;
  background-color: transparent;
}
.accordianTable tr.accordion-collapse td {
  border-right: 0 !important;
}

.accordianTable .warning-detail, .selection-details .warning-detail {
  font-size: 18px;
  color: #000000;
}
.accordianTable .warning-detail h1, .accordianTable .warning-detail h2, .accordianTable .warning-detail h3, .selection-details .warning-detail h1, .selection-details .warning-detail h2, .selection-details .warning-detail h3 {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.accordianTable .warning-detail p, .selection-details .warning-detail p {
  margin-bottom: 0;
}
.accordianTable .warning-detail .warning-type, .selection-details .warning-detail .warning-type {
  font-weight: 400;
}
.accordianTable .warning-detail pre, .selection-details .warning-detail pre {
  width: 100%;
  overflow: hidden;
  font-family: JohnstonITC, Helvetica, sans-serif;
  font-size: 18px;
  white-space: pre-line;
  word-break: break-word;
}

.selection-details {
  max-height: 60vh !important;
  overflow-y: auto;
  margin: 30px 0;
  padding-right: 2px;
}
.selection-details .warning-detail {
  padding: 18px 0;
  border-bottom: 1px solid #D0D0D0;
}
.selection-details .warning-detail:last-child {
  border-bottom: none;
}
.selection-details .warning-detail:first-child {
  border-top: 1px solid #D0D0D0;
}
.selection-details .warning-detail h1 {
  font-size: 21px;
}

.caption-table {
  margin-top: 45px;
  position: relative;
}
.caption-table .table-caption {
  display: block;
  font-weight: 400;
  font-size: 21px;
  color: #000000;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  top: -50px;
}

.daily-table-container {
  max-height: 78vh !important;
  overflow-y: auto;
  padding-right: 2px;
}

.notice-to-mariners-vars-table thead tr th:last-child {
  flex-basis: 68%;
}
.notice-to-mariners-vars-table tbody tr td:last-child {
  flex-basis: 68%;
}

.notice-to-mariners-annual-table thead tr th.th-1, .notice-to-mariners-annual-table thead tr th.th-4 {
  flex-basis: 35%;
}
.notice-to-mariners-annual-table thead tr th.th-3 {
  flex-basis: 45%;
}
.notice-to-mariners-annual-table tbody tr td.td-1, .notice-to-mariners-annual-table tbody tr td.td-4 {
  flex-basis: 35%;
}
.notice-to-mariners-annual-table tbody tr td.td-3 {
  flex-basis: 45%;
}

a:focus, button:focus, .form-select:focus, .form-control:focus, .form-check-input:focus, input[type=submit]:focus, input[type=button]:focus {
  outline: 0;
  box-shadow: 0 0 0 0.14rem #fd0 !important;
}

.alert {
  padding: 20px 30px 30px;
  border-radius: 0;
  border: 0;
}
.alert .alert-head {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
}
.alert p {
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 1.8rem;
}

.alert-primary {
  background-color: #E0ECF3;
  border-left: 6px solid #0177C1;
  color: #09315b;
}
.alert-primary .alert-head {
  color: #09315b;
}

.alert-danger {
  background-color: #F7E1E1;
  border-left: 6px solid #E20D0D;
  color: #09315b;
}
.alert-danger i.bi {
  font-size: 26px;
  position: relative;
  top: 4px;
  left: -10px;
}
.alert-danger .alert-head {
  color: #09315b;
  margin-left: -10px;
}

.form-label {
  margin-bottom: 0.5rem !important;
  font-size: 16px;
  font-weight: 400;
}

button, input[type=submit].primary, a.primary {
  height: auto;
  min-width: auto;
  font-size: 18px;
  padding: 12px 40px;
  display: inline-block;
  text-decoration: none;
}
button:active, input[type=submit].primary:active, a.primary:active {
  background-color: #09315b;
}

input[type=submit].primary, a.primary {
  background-color: #09315b;
  color: #fff;
  border: 2px solid #09315b;
  white-space: nowrap;
}

.inline-btn {
  margin-top: 2rem;
}
@media screen and (max-width: 576px) {
  .inline-btn {
    margin-top: 0;
  }
}

.inline-link {
  display: inline-block;
  margin-top: 2.7rem;
}
@media screen and (max-width: 576px) {
  .inline-link {
    margin-top: 0;
  }
}

.form-select, .form-control {
  border-radius: 0;
  border: 2px solid #1C1F22;
  font-size: 21px;
  color: #000000;
}
.form-select:focus, .form-control:focus {
  border-color: #1C1F22;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231C1F22' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-size: 1.2rem 1.2rem;
}

.form-select option {
  font-weight: 300;
  font-size: 16px;
}

.form-check-label {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.form-check-input {
  width: 30px;
  height: 30px;
  border: 2px solid #09315b;
}
.form-check-input[type=checkbox] {
  border-radius: 0;
}
.form-check-input:checked {
  background-color: #ffffff;
  border-color: #09315b;
  color: #09315b;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2309315b' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
}
.form-check-input:focus {
  border-color: #09315b;
}

.main-content {
  padding: 2rem 0;
}

.bold-icon {
  -webkit-text-stroke: 2px;
}

button:disabled, input[type=button]:disabled {
  cursor: not-allowed;
}
button:disabled:active, input[type=button]:disabled:active {
  background-color: #adadad;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px !important;
}
table thead tr th {
  border-bottom: 0;
}
table td {
  border-bottom: 1px solid #d8d8d8 !important;
  border-right: 1px solid #d8d8d8 !important;
}
table td a {
  font-weight: 300;
}

.hidden-caption {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin-top: -1px;
}

button:disabled, input[type=button]:disabled {
  background-color: #6c757d;
  border: 2px solid #6c757d;
}

@media print {
  button#Print, .msi-tabs-container, .back-btn-container, .site-footer, .site-header {
    display: none;
  }

  .selection-details {
    overflow-y: hidden;
    max-height: 100% !important;
  }
  .selection-details .warning-detail pre {
    line-height: 27px;
    font-size: 18px;
  }

  .footer-text {
    margin-top: 0 !important;
  }

  #rnwInfo {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .warning-detail {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}
.table-scroll {
  display: block;
  empty-cells: show;
  border-spacing: 0;
}
.table-scroll.small-first-col td:first-child, .table-scroll.small-first-col th:first-child {
  word-break: break-all;
}
.table-scroll thead {
  background-color: #f1f1f1;
  position: relative;
  display: block;
  width: 100%;
}
.table-scroll tbody {
  display: block;
  position: relative;
  width: 100%;
  overflow-y: auto;
}
.table-scroll tbody.scroll-content {
  max-height: 54vh;
  padding-right: 2px;
}
.table-scroll tr {
  width: 100%;
  display: flex;
}
.table-scroll td, .table-scroll th {
  flex-basis: 100%;
  flex-grow: 2;
  display: flex;
  align-items: center;
  word-break: break-word;
}

.scroll-bar {
  scrollbar-color: #595959 #C4C4CA;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #595959;
  border-radius: 50px;
}
.scroll-bar::-webkit-scrollbar-track {
  background-color: #C4C4CA;
  border-radius: 50px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 30px #595959;
  border-radius: 5px;
}

.msi-page-nav li {
  transform: none;
  padding: 0;
  margin: 0;
}
.msi-page-nav li:before {
  content: none;
}
.msi-page-nav li a {
  font-size: 16px;
  padding: 0.5rem;
  color: #09315b;
  display: inline-block;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .msi-page-nav li a {
    font-size: 14px;
  }
}
.msi-page-nav li a.active {
  background-color: #09315b;
  color: #ffffff;
  border-radius: 2px;
}
.msi-page-nav li a.active:focus {
  color: #ffffff;
}
.msi-page-nav li a:focus {
  color: #09315b;
}

.msi-tabs-content-container {
  padding-left: 16px;
}
@media screen and (max-width: 992px) {
  .msi-tabs-content-container {
    width: 100%;
  }
}
.msi-tabs-content-container h2 {
  color: #000000;
  font-size: 21px;
}
.msi-tabs-content-container p {
  color: #000000;
  line-height: 1.7rem;
}

.msi-tabs-container {
  border-right: 1px solid #D0D0D0;
  margin-top: 91px;
  width: 18%;
  margin-bottom: -2rem;
}
@media screen and (max-width: 992px) {
  .msi-tabs-container {
    width: 100%;
    margin-top: 0;
    border-right: 0;
    margin-bottom: 0;
  }
}

.msi-tabs {
  margin-bottom: 20px;
}
.msi-tabs li {
  transform: none;
  margin: 0;
  padding: 0;
}
.msi-tabs li:before {
  content: none;
}
.msi-tabs li .nav-link {
  color: #09315b;
  border-width: 0 0 5px 0;
  border-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 0;
  font-weight: 400;
}
.msi-tabs li .nav-link.active {
  border-color: #09315b;
  color: #09315b;
}

input[type=button].select-all-button {
  height: auto;
  padding: 0;
  background-color: transparent;
  color: #09315b;
  min-width: auto;
  border: 0;
  text-decoration: underline;
  font-size: 18px;
  border-radius: 0;
}

.intro-text {
  font-size: 28px;
  line-height: 36px;
  color: #000000;
}

.custom-error .paragraph {
  color: #000000;
}
.custom-error .paragraph a {
  color: #000000;
}

.msi-list-style li {
  transform: none;
  padding-left: 30px;
  position: relative;
}
.msi-list-style li:before {
  content: none;
}
.msi-list-style li .list-icon {
  font-size: 7px;
  color: #09315b;
  position: absolute;
  left: 0;
  top: 1px;
}
