@import "variables";
@import "header";
@import "footer";
@import "table";
@import "common";
@import "print";

.rnw-list-table thead tr th.th-2 {
    width: 125px;
}

.table-scroll {
    display: block;
    empty-cells: show;
    border-spacing: 0;
}

.table-scroll.small-first-col td:first-child, .table-scroll.small-first-col th:first-child {
    word-break: break-all;
}

.table-scroll thead {
    background-color: #f1f1f1;
    position: relative;
    display: block;
    width: 100%;
}

.table-scroll tbody {
    display: block;
    position: relative;
    width: 100%;
    overflow-y: auto;
}

.table-scroll tbody.scroll-content {
    max-height: 54vh;
    padding-right: 2px;
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td, .table-scroll th {
    flex-basis: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.scroll-bar {
    scrollbar-color: #595959 #C4C4CA;
}

.scroll-bar::-webkit-scrollbar {
    width: 10px;
    background-color: #595959;
    border-radius: 50px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: #C4C4CA;
    border-radius: 50px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 30px #595959;
    border-radius: 5px;
}

.msi-page-nav li {
    transform: none;
    padding: 0;
    margin: 0;
}

.msi-page-nav li:before {
    content: none;
}

.msi-page-nav li a {
    font-size: 16px;
    padding: 0.5rem;
    color: #09315b;
    display: inline-block;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .msi-page-nav li a {
        font-size: 14px;
    }
}

.msi-page-nav li a.active {
    background-color: #09315b;
    color: #ffffff;
    border-radius: 2px;
}

.msi-page-nav li a.active:focus {
    color: #ffffff;
}

.msi-page-nav li a:focus {
    color: #09315b;
}

.msi-tabs-content-container {
    padding-left: 16px;
}

@media screen and (max-width: 992px) {
    .msi-tabs-content-container {
        width: 100%;
    }
}

.msi-tabs-container {
    border-right: 1px solid #D0D0D0;
    margin-top: 91px;
    width: 18%;
    margin-bottom: -2rem;
}

@media screen and (max-width: 992px) {
    .msi-tabs-container {
        width: 100%;
        margin-top: 0;
        border-right: 0;
        margin-bottom: 0;
    }
}

.msi-tabs {
    margin-bottom: 20px;
}

.msi-tabs li {
    transform: none;
    margin: 0;
    padding: 0;
}

.msi-tabs li:before {
    content: none;
}

        .nav-link {
            color: $prussian-blue;
            border-width: 0 0 5px 0;
            border-color: transparent;
            padding: 0.5rem 1.5rem;
            border-radius: 0;
            font-weight: 400;

            &.active {
                border-color: $prussian-blue;
                color: $prussian-blue;
            }
        }
    }
}
input[type="button"].select-all-button{
    height:auto;
    padding:0;
    background-color:transparent;
    color:$prussian-blue;
    min-width:auto;
    border:0;
    text-decoration:underline;
    font-size:18px;
    border-radius:0;
}
.intro-text {
    font-size: 28px;
    line-height: 36px;
    color:$black;
}
.custom-error {
    .paragraph {
        color: $black;

        a {
            color: $black;
        }
    }
}
