<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-lg-6 col-md-8 custom-error">
            <h1 id="headingLevelOne" class="mt-0">Sorry, You do not have access for requested page.</h1>
            
            <p class="paragraph">
                If you need to talk to someone, please contact the customer service team at <a href="mailto:customerservices@ukho.gov.uk?subject=Maritime Safety Information Error with reference @Convert.ToString(ViewData["CurrentCorrelationId"])">customerservices@ukho.gov.uk</a>.
                <br />
               
            </p>
        </div>
    </div>
</div>

