<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-lg-6 col-md-8 custom-error">
            <h1 id="headingLevelOne" class="mt-0">Sorry, you do not have access to this website.</h1>
            
            <p class="paragraph">
                 If you believe that you should have access please contact the Service Desk at <a href="mailto:servicedesk@ukho.gov.uk">servicedesk@ukho.gov.uk</a>.
            </p>
        </div>
    </div>
</div>

