@model UKHO.MaritimeSafetyInformation.Common.Models.RadioNavigationalWarning.DTO.RadioNavigationalWarnings

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">

<h1>Create Radio Navigational Warnings</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="WarningType" class="form-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="WarningType" asp-items="@(new SelectList(ViewBag.WarningType,"Id","Name"))" class="form-select">
                    <option value="" selected disabled hidden>--Select Warning Type--</option>
                </select>
                <span asp-validation-for="WarningType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Reference" class="form-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DateTimeGroup" class="form-label">Date/time</label>
                <span class="text-danger">*</span>
                <input asp-for="DateTimeGroup" class="form-control" />
                <span asp-validation-for="DateTimeGroup" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Summary" class="form-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label"></label>
                <span class="text-danger">*</span>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ExpiryDate" class="form-label">Expiry date and time</label>
                <input asp-for="ExpiryDate" class="form-control" />
                @*<span asp-validation-for="ExpiryDate" class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" id="btnCreate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
