@model IEnumerable<UKHO.MaritimeSafetyInformation.Common.Models.DTO.RadioNavigationalWarnings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>