@import "variables";
@import "header";
@import "footer";
@import "table";
@import "common";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body{
    overflow-x:hidden;
}

.pagination {
    margin: 0;

    li {
        padding-right: 0;
        transform: none;

        a {
            color: $prussian-blue;
            border-radius: 0 !important;
            cursor: pointer;
            font-weight: 400;
            border-color: $light-silver;
            border-width: 1.5px;

            &:hover, &:focus {
                background-color: $prussian-blue;
                border-color: $prussian-blue;
                color: $white;
            }
        }

        &:before {
            content: none;
        }
    }
}

.intro-text {
    font-size: 28px;
    line-height: 36px;
    color: $black;
}

.custom-error {
    .paragraph {
        color: $black;

        a {
            color: $black;
        }
    }
}
